---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="text">
				<h1>{"Launching early September '25"}</h1>
				<p>We are building the marketplace for tokenized companies and funds in Latam. Stay tuned for access to unique private market opportunities!</p>
			</div>
		</main>
		<Footer />
	</body>
	<style>
		main {
			width: max-content;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		h1 {
			color: #3A3A3A
		}
		.text {
			text-align: center;
			display: flex;
			flex-direction: column;
			gap: 2px;
			margin-bottom: 8px;
			max-width: 42rem;
			padding-top: 5rem;
			padding-bottom: 5rem;
		}
		p {
			margin: 0;
			color: #3A3A3A
		}
	</style>
</html>
