---
const today = new Date();
import telegramIcon from "../../public/telegram-icon.svg";
import XIcon from "../../public/x-icon.svg";
import linkedIn from "../../public/linkedin-icon.svg";
import { Image } from 'astro:assets';
---

<footer>
	&copy; {today.getFullYear()} BoulderTech. All rights reserved.
	<div class="social-links">
		<a href="https://x.com/BoulderTechFi" target="_blank">
			<span class="sr-only">Follow BoulderTech on Twitter</span>
			<Image src={XIcon} alt="X Icon" width={36}/>
		</a>
		<a href="https://x.com/BoulderTechFi" target="_blank">
			<span class="sr-only">Join the BoulderTech telegram community</span>
			<Image src={telegramIcon} alt="Telegram Icon" width={36}/>
		</a>
		<a href="https://www.linkedin.com/company/bouldertechtoken/posts/?feedView=all" target="_blank">
			<span class="sr-only">Follow BoulderTech on LinkedIn</span>
			<Image src={linkedIn} alt="LinkedIn Icon" width={36}/>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: #101218;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: (var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
